anyio==3.7.0
APScheduler==3.6.3
cachetools==4.2.2
certifi==2023.5.7
chardet==3.0.4
charset-normalizer==3.1.0
exceptiongroup==1.1.1
googletrans==4.0.0rc1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
pyaes==1.6.1
pyasn1==0.5.0
pydub==0.25.1
python-dotenv==1.0.0
python-telegram-bot==13.7
pytz==2023.3
requests==2.31.0
rfc3986==1.5.0
rsa==4.9
six==1.16.0
sniffio==1.3.0
SpeechRecognition==3.10.0
Telethon==1.28.5
tornado==6.3.2
tzlocal==5.0.1
urllib3==2.0.3
